.inputRadio{
	position: relative;
	padding-left: 26px;
	vertical-align: top;
	font-weight: normal;
}
.inputRadio.icon-radio{
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.inputRadio.icon-radio:before{
	font-size: 20px;
	color: red;
}
.inputRadio__input{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.inputRadio__input[type="radio"]{
	margin: -1px;
}
.inputRadio__input:checked + .icon-radio:before{
	content: "\6e";
}
.inputRadio__input:focus + .icon-radio:before{
	outline: #66c7ff solid 2px;
}